<html>
  <body>
    <h1>Ahorcado</h1>

    <span>Longitud palabra <%= @@ahorcado.getLongitudPalabra %></span> <br/>
    <span><%= @@ahorcado.casilleros %> </span>
    <form action="confirmar" method="post">
      <input id="letra" name="letra"  type="text" />
      <input id ="confirmar" name="confirmar" type="submit" value="confirmar" />
      
    </form>

    <h1><%=unless @resultado.nil?
      (@resultado ? "acerto" : "fallo") end %></h1>
    <h1><%= @@ahorcado.gano ? "Gano" : "" %></h1>
    <span>Letras utilizadas: <%= @@ahorcado.letras_utilizadas %></span>
    <br />
    <span><%= @@ahorcado.vidas %> vidas restantes</span>
  </body>
</html>